:host {
   overflow: hidden;
}
.text-center {
   text-align: center !important;
}

.card-cus {
   min-width: 400px;
   min-height: 100px;
}
.align-center {
   display: flex;
   text-align: center;
   justify-content: center;
   padding-bottom: 10px;
}
.icon-big {
   margin-top: 5px;
   font-size: 62px;
 }